/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document
   ========================================================================== */

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}
@charset "UTF-8";
/*
Trix 0.9.5
Copyright © 2016 Basecamp, LLC
http://trix-editor.org/
*/
trix-editor {
  color: #111;
  border: 1px solid #bbb;
  border-radius: 3px;
  margin: 0;
  padding: 4px 8px;
  min-height: 54px;
  outline: none; }
trix-toolbar * {
  box-sizing: border-box; }
trix-toolbar .button_group {
  display: inline-block;
  font-size: 0;
  margin: 0 8px 4px 0;
  border: 1px solid #bbb;
  border-top-color: #ccc;
  border-bottom-color: #888;
  border-radius: 5px;
  overflow: hidden; }
  trix-toolbar .button_group:last-of-type {
    margin-right: 0; }
  trix-toolbar .button_group button, trix-toolbar .button_group input[type=button] {
    position: relative;
    font-size: 0;
    margin: 0;
    height: 28px;
    width: 40px;
    background: #fff;
    border: none;
    border-bottom: 1px solid #ddd; }
    trix-toolbar .button_group button::before, trix-toolbar .button_group input[type=button]::before {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 18px 18px;
      opacity: .6;
      content: ""; }
    trix-toolbar .button_group button.active, trix-toolbar .button_group input[type=button].active {
      background: #cbeefa; }
      trix-toolbar .button_group button.active::before, trix-toolbar .button_group input[type=button].active::before {
        opacity: 1; }
    trix-toolbar .button_group button:disabled::before, trix-toolbar .button_group input[type=button]:disabled::before {
      opacity: .125; }
    trix-toolbar .button_group button:not(:first-child), trix-toolbar .button_group input[type=button]:not(:first-child) {
      border-left: 1px solid #ccc; }
trix-toolbar .dialogs {
  position: relative; }
  trix-toolbar .dialogs .dialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px 8px;
    line-height: 12px;
    background: #fff;
    box-shadow: 0 0.3rem 1rem #ccc;
    border-top: 2px solid #888;
    border-radius: 5px;
    z-index: 5; }
    trix-toolbar .dialogs .dialog input[type=button] {
      font-size: 12px;
      height: 24px;
      width: 50px;
      padding: 1px 8px 0 8px;
      width: auto;
      opacity: .6;
      -webkit-appearance: none;
      -webkit-border-radius: 0; }
    trix-toolbar .dialogs .dialog input[type=url], trix-toolbar .dialogs .dialog input[type=text] {
      display: inline-block;
      height: 26px;
      font-size: 12px;
      padding: 0 8px;
      margin: 0 8px 0 0;
      border-radius: 5px;
      border: 1px solid #bbb;
      background-color: #fff;
      box-shadow: none;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
      trix-toolbar .dialogs .dialog input[type=url].validate:invalid, trix-toolbar .dialogs .dialog input[type=text].validate:invalid {
        box-shadow: #F00 0px 0px 1.5px 1px; }
    trix-toolbar .dialogs .dialog.link_dialog, trix-toolbar .dialogs .dialog.hint_dialog {
      min-width: 300px;
      max-width: 600px; }
      trix-toolbar .dialogs .dialog.link_dialog .button_group, trix-toolbar .dialogs .dialog.hint_dialog .button_group {
        max-width: 110px; }
      trix-toolbar .dialogs .dialog.link_dialog input[type=url], trix-toolbar .dialogs .dialog.link_dialog input[type=text], trix-toolbar .dialogs .dialog.hint_dialog input[type=url], trix-toolbar .dialogs .dialog.hint_dialog input[type=text] {
        float: left;
        width: calc(100% - 120px); }
trix-toolbar .button_group button.bold::before {
  background-image: url('data:image/svg+xml,<svg contentScriptType="text/ecmascript" height="2048" viewBox="0.0 0 1408.0 2048" width="1408" xmlns="http://www.w3.org/2000/svg"><path d="M555 1649c50.7 21.3 97.3 32 140 32 87.3 0 159.3-13.7 216-41s97.3-65 122-113c25.3-46.7 38-107 38-181 0-76-13.7-136-41-180-38.7-62.7-85.7-104.7-141-126-53.3-21.3-135.7-32-247-32-49.3 0-83 3.3-101 10v144l-1 173 3 270c0 10 4 24.7 12 44zm-14-746c28.7 4.7 65 7 109 7 116.7 0 204.7-21.7 264-65s89-118 89-224c0-74.7-28.3-137-85-187-56-50-141-75-255-75a817 817 0 0 0-130 13c0 29.3.7 55 2 77a4433 4433 0 0 1 6 279l-1 98c0 28.7.3 54.3 1 77zM0 1792l2-94c30-6 52.7-10 68-12 51.3-8 92.3-18.3 123-31 11.3-18 18.3-35 21-51 6-44 9-108.7 9-194l-2-497a53263 53263 0 0 0-9-404c-.7-58-4.3-94.3-11-109-.7-2.7-4.7-6.7-12-12-12-8-35-13-69-15-20-1.3-58-5.7-114-13l-4-83 260-6 380-13 45-1c3.3 0 8-.2 14-.5s10.7-.5 14-.5l21.5.5c13.7.3 27.2.5 40.5.5h74c58.7 0 122.3 9 191 27a646.4 646.4 0 0 1 96 39c38 19.3 72 44.7 102 76 29.3 31.3 51 66 65 104s21 78.7 21 122c0 46.7-10.7 89.3-32 128s-53 73.7-95 105c-17.3 13.3-67.3 39-150 77 118 27.3 207 76 267 146 61.3 70.7 92 149.3 92 236a499 499 0 0 1-29 161 332.7 332.7 0 0 1-71 117c-44 48-90.7 84-140 108-48.7 24-116.3 44-203 60-54.7 10-120.7 13.7-198 11l-197-4c-56-1.3-155.3 2.3-298 11-22 2-112.7 5.7-272 11z"/></svg>'); }
trix-toolbar .button_group button.italic::before {
  background-image: url('data:image/svg+xml,<svg contentScriptType="text/ecmascript" height="2048" viewBox="0.0 0 1024.0 2048" width="1024" xmlns="http://www.w3.org/2000/svg"><path d="M0 1790l17-85 77-20c50.7-12.7 89.3-25.7 116-39 19.3-24.7 33-58.3 41-101l27-139 56-268 12-64a2222.3 2222.3 0 0 1 45.5-198 748 748 0 0 1 12.5-42l29-157 16-63 22-135 8-50v-38c-27.3-14.7-75.3-24-144-28a366.4 366.4 0 0 1-38-4l19-103 317 14c26 1.3 50.3 2 73 2 44 0 115.3-3 214-9a6311 6311 0 0 0 104-7 374.6 374.6 0 0 1-6 38 1816 1816 0 0 1-13 51c-36.7 12.7-73 23-109 31a790 790 0 0 0-101 31c-8 20.7-16 50-24 88a861 861 0 0 0-13 82 22721.5 22721.5 0 0 0-66 306l-61 311-38 158-43 235-12 45c-1.3 4.7-1 13.7 1 27 42.7 10 82.3 17 119 21 24 3.3 46 6.7 66 10a348 348 0 0 1-7 58 2153 2153 0 0 0-9 41c-12 0-19.7.3-23 1-16 1.3-30 2-42 2-6 0-15.3-1-28-3-12.7-2.7-61-8.3-145-17l-198-2c-27.3-.7-85.3 3-174 11-49.3 4.7-82 7.7-98 9z"/></svg>'); }
trix-toolbar .button_group button.link::before {
  background-image: url('data:image/svg+xml,<svg contentScriptType="text/ecmascript" height="2048" viewBox="16.0 0 1632.0 2048" width="1632" xmlns="http://www.w3.org/2000/svg"><path d="M1456 1344c0-26.7-9.3-49.3-28-68l-208-208a92.6 92.6 0 0 0-68-28c-28 0-52 10.7-72 32l19 18.5a218.2 218.2 0 0 1 36.5 40.5 81.5 81.5 0 0 1 16.5 53c0 26.7-9.3 49.3-28 68s-41.3 28-68 28a80.4 80.4 0 0 1-53-16.5 218.2 218.2 0 0 1-40.5-36.5l-18.5-19a97 97 0 0 0-33 73c0 26.7 9.3 49.3 28 68l206 207c18 18 40.7 27 68 27 26.7 0 49.3-8.7 68-26l147-146c18.7-18.7 28-41 28-67zM753 639c0-26.7-9.3-49.3-28-68L519 364a92.6 92.6 0 0 0-68-28c-26 0-48.7 9-68 27L236 509a91.4 91.4 0 0 0-28 67c0 26.7 9.3 49.3 28 68l208 208c18 18 40.7 27 68 27 28 0 52-10.3 72-31l-19-18.5a218.2 218.2 0 0 1-36.5-40.5 81.5 81.5 0 0 1-16.5-53c0-26.7 9.3-49.3 28-68s41.3-28 68-28a80 80 0 0 1 53 16.5 218.2 218.2 0 0 1 40.5 36.5l18.5 19a97 97 0 0 0 33-73zm895 705c0 80-28.3 147.7-85 203l-147 146c-55.3 55.3-123 83-203 83-80.7 0-148.7-28.3-204-85l-206-207c-55.3-55.3-83-123-83-203a281 281 0 0 1 88-209l-88-88a280 280 0 0 1-208 88c-80 0-148-28-204-84L100 780c-56-56-84-124-84-204s28.3-147.7 85-203l147-146c55.3-55.3 123-83 203-83 80.7 0 148.7 28.3 204 85l206 207c55.3 55.3 83 123 83 203a281 281 0 0 1-88 209l88 88a280 280 0 0 1 208-88c80 0 148 28 204 84l208 208c56 56 84 124 84 204z"/></svg>'); }
trix-toolbar .button_group button.hint::before {
  background-image: url('data:image/svg+xml,<svg contentScriptType="text/ecmascript" height="2048" viewBox="94.83300018310547 0 925.1669921875 2048" width="925.2" xmlns="http://www.w3.org/2000/svg"><path d="M704 1384v240c0 10.7-4 20-12 28s-17.3 12-28 12H424c-10.7 0-20-4-28-12s-12-17.3-12-28v-240c0-10.7 4-20 12-28s17.3-12 28-12h240c10.7 0 20 4 28 12s12 17.3 12 28zm316-600c0 36-5.2 69.7-15.5 101s-22 56.8-35 76.5-31.3 39.5-55 59.5-42.8 34.5-57.5 43.5-35 20.8-61 35.5c-27.3 15.3-50.2 37-68.5 65s-27.5 50.3-27.5 67c0 11.3-4 22.2-12 32.5s-17.3 15.5-28 15.5H420c-10 0-18.5-6.2-25.5-18.5S384 1236.7 384 1224v-45c0-55.3 21.7-107.5 65-156.5s91-85.2 143-108.5c39.3-18 67.3-36.7 84-56s25-44.7 25-76c0-28-15.5-52.7-46.5-74s-66.8-32-107.5-32c-43.3 0-79.3 9.7-108 29-23.3 16.7-59 55-107 115a39 39 0 0 1-31 16c-8 0-16.3-2.7-25-8L112 703a39.3 39.3 0 0 1-10-53c106.7-177.3 261.3-266 464-266 53.3 0 107 10.3 161 31s102.7 48.3 146 83 78.7 77.2 106 127.5a327.5 327.5 0 0 1 41 158.5z"/></svg>'); }
trix-toolbar .button_group button.strike::before {
  background-image: url('data:image/svg+xml,<svg contentScriptType="text/ecmascript" height="2048" viewBox="0.0 0 1792.0 2048" width="1792" xmlns="http://www.w3.org/2000/svg"><path d="M1760 1024c9.3 0 17 3 23 9s9 13.7 9 23v64c0 9.3-3 17-9 23s-13.7 9-23 9H32c-9.3 0-17-3-23-9s-9-13.7-9-23v-64c0-9.3 3-17 9-23s13.7-9 23-9h1728zM483 960a470 470 0 0 1-51-80c-32-64.7-48-127.3-48-188 0-120.7 44.7-223.7 134-309 88.7-84.7 219.7-127 393-127 33.3 0 89 6.3 167 19 44 8 103 24 177 48 6.7 25.3 13.7 64.7 21 118 9.3 82 14 143 14 183 0 12-1.7 27-5 45l-12 3-84-6-14-2c-33.3-99.3-67.7-167.7-103-205-58.7-60.7-128.7-91-210-91-76 0-136.7 19.7-182 59a185 185 0 0 0-67 146c0 48.7 22 95.3 66 140s137 87.7 279 129c46 13.3 103.7 35.3 173 66a885 885 0 0 1 95 52H483zm507 256h411c4.7 26 7 56.7 7 92 0 74-13.7 144.7-41 212a332.5 332.5 0 0 1-71 104c-24.7 23.3-61 50.3-109 81-53.3 32-104.3 54-153 66-53.3 14-121 21-203 21-76 0-141-7.7-195-23l-140-40c-38-10.7-62-20-72-28a30 30 0 0 1-8-22v-13c0-72-.7-124-2-156-.7-20-.7-42.7 0-68l2-37v-44l102-2c10 22.7 20 46.3 30 71l22.5 56a182 182 0 0 0 12.5 27c23.3 38 50 69.3 80 94a323 323 0 0 0 105 57c39.3 14.7 83.3 22 132 22 42.7 0 89-9 139-27 51.3-17.3 92-46 122-86 31.3-40.7 47-83.7 47-129 0-56-27-108.3-81-157-22.7-19.3-68.3-43-137-71z"/></svg>'); }
trix-toolbar .button_group button.quote::before {
  background-image: url('data:image/svg+xml,<svg contentScriptType="text/ecmascript" height="2048" viewBox="0.0 0 1664.0 2048" width="1664" xmlns="http://www.w3.org/2000/svg"><path d="M768 448v704c0 69.3-13.5 135.5-40.5 198.5S664 1468 618 1514s-100.5 82.5-163.5 109.5S325.3 1664 256 1664h-64c-17.3 0-32.3-6.3-45-19s-19-27.7-19-45v-128c0-17.3 6.3-32.3 19-45s27.7-19 45-19h64c70.7 0 131-25 181-75s75-110.3 75-181v-32c0-26.7-9.3-49.3-28-68s-41.3-28-68-28H192c-53.3 0-98.7-18.7-136-56S0 885.3 0 832V448c0-53.3 18.7-98.7 56-136s82.7-56 136-56h384c53.3 0 98.7 18.7 136 56s56 82.7 56 136zm896 0v704c0 69.3-13.5 135.5-40.5 198.5S1560 1468 1514 1514s-100.5 82.5-163.5 109.5-129.2 40.5-198.5 40.5h-64c-17.3 0-32.3-6.3-45-19s-19-27.7-19-45v-128c0-17.3 6.3-32.3 19-45s27.7-19 45-19h64c70.7 0 131-25 181-75s75-110.3 75-181v-32c0-26.7-9.3-49.3-28-68s-41.3-28-68-28h-224c-53.3 0-98.7-18.7-136-56s-56-82.7-56-136V448c0-53.3 18.7-98.7 56-136s82.7-56 136-56h384c53.3 0 98.7 18.7 136 56s56 82.7 56 136z"/></svg>'); }
trix-toolbar .button_group button.code::before {
  background-image: url('data:image/svg+xml,<svg contentScriptType="text/ecmascript" height="2048" viewBox="45.0 0 1830.0 2048" width="1830" xmlns="http://www.w3.org/2000/svg"><path d="M617 1527l-50 50a31.6 31.6 0 0 1-46 0L55 1111a31.6 31.6 0 0 1 0-46l466-466a31.6 31.6 0 0 1 46 0l50 50a31.6 31.6 0 0 1 0 46l-393 393 393 393a31.6 31.6 0 0 1 0 46zm591-1067L835 1751c-2.7 8.7-7.8 15.2-15.5 19.5s-15.5 5.2-23.5 2.5l-62-17c-8.7-2.7-15.2-7.8-19.5-15.5s-5.2-15.8-2.5-24.5l373-1291c2.7-8.7 7.8-15.2 15.5-19.5s15.5-5.2 23.5-2.5l62 17c8.7 2.7 15.2 7.8 19.5 15.5s5.2 15.8 2.5 24.5zm657 651l-466 466a31.6 31.6 0 0 1-46 0l-50-50a31.6 31.6 0 0 1 0-46l393-393-393-393a31.6 31.6 0 0 1 0-46l50-50a31.6 31.6 0 0 1 46 0l466 466a31.6 31.6 0 0 1 0 46z"/></svg>'); }
trix-toolbar .button_group button.bullets::before {
  background-image: url('data:image/svg+xml,<svg contentScriptType="text/ecmascript" height="2048" viewBox="0.0 0 1792.0 2048" width="1792" xmlns="http://www.w3.org/2000/svg"><path d="M384 1536c0 53.3-18.7 98.7-56 136s-82.7 56-136 56-98.7-18.7-136-56-56-82.7-56-136 18.7-98.7 56-136 82.7-56 136-56 98.7 18.7 136 56 56 82.7 56 136zm0-512c0 53.3-18.7 98.7-56 136s-82.7 56-136 56-98.7-18.7-136-56a185.2 185.2 0 0 1-56-136c0-53.3 18.7-98.7 56-136s82.7-56 136-56 98.7 18.7 136 56 56 82.7 56 136zm1408 416v192c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5H544c-8.7 0-16.2-3.2-22.5-9.5s-9.5-13.8-9.5-22.5v-192c0-8.7 3.2-16.2 9.5-22.5s13.8-9.5 22.5-9.5h1216c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5zM384 512c0 53.3-18.7 98.7-56 136s-82.7 56-136 56-98.7-18.7-136-56S0 565.3 0 512s18.7-98.7 56-136 82.7-56 136-56 98.7 18.7 136 56 56 82.7 56 136zm1408 416v192c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5H544c-8.7 0-16.2-3.2-22.5-9.5s-9.5-13.8-9.5-22.5V928c0-8.7 3.2-16.2 9.5-22.5s13.8-9.5 22.5-9.5h1216c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5zm0-512v192c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5H544c-8.7 0-16.2-3.2-22.5-9.5S512 616.7 512 608V416c0-8.7 3.2-16.2 9.5-22.5s13.8-9.5 22.5-9.5h1216c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5z"/></svg>'); }
trix-toolbar .button_group button.numbers::before {
  background-image: url('data:image/svg+xml,<svg contentScriptType="text/ecmascript" height="2048" viewBox="15.0 0 1777.0 2048" width="1777" xmlns="http://www.w3.org/2000/svg"><path d="M381 1748c0 53.3-18.2 95.3-54.5 126s-81.5 46-135.5 46c-70.7 0-128-22-172-66l57-88c32.7 30 68 45 106 45 19.3 0 36.2-4.8 50.5-14.5s21.5-23.8 21.5-42.5c0-42.7-35-61.3-105-56l-26-56c5.3-6.7 16.2-21.2 32.5-43.5s30.5-40.3 42.5-54 24.3-26.5 37-38.5v-1c-10.7 0-26.8.3-48.5 1s-37.8 1-48.5 1v53H32v-152h333v88l-95 115c34 8 61 24.3 81 49s30 54 30 88zm2-627v159H21c-4-24-6-42-6-54 0-34 7.8-65 23.5-93s34.5-50.7 56.5-68 44-33.2 66-47.5c22-14.3 40.8-28.8 56.5-43.5s23.5-29.7 23.5-45c0-16.7-4.8-29.5-14.5-38.5S203.7 877 187 877c-30.7 0-57.7 19.3-81 58l-85-59c16-34 39.8-60.5 71.5-79.5S159.3 768 198 768c48.7 0 89.7 13.8 123 41.5s50 65.2 50 112.5a141 141 0 0 1-34 91.5c-22.7 27.7-47.7 49.2-75 64.5s-52.5 32.2-75.5 50.5-34.8 35.8-35.5 52.5h127v-60h105zm1409 319v192c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5H544c-8.7 0-16.2-3.2-22.5-9.5s-9.5-13.8-9.5-22.5v-192c0-9.3 3-17 9-23s13.7-9 23-9h1216c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5zM384 541v99H49v-99h107c0-27.3.2-68 .5-122s.5-94.3.5-121v-12h-2c-5.3 11.3-22 29.3-50 54l-71-76 136-127h106v404h108zm1408 387v192c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5H544c-8.7 0-16.2-3.2-22.5-9.5s-9.5-13.8-9.5-22.5V928c0-9.3 3-17 9-23s13.7-9 23-9h1216c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5zm0-512v192c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5H544c-8.7 0-16.2-3.2-22.5-9.5S512 616.7 512 608V416c0-8.7 3.2-16.2 9.5-22.5s13.8-9.5 22.5-9.5h1216c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5z"/></svg>'); }
trix-toolbar .button_group button.block-level.decrease::before {
  background-image: url('data:image/svg+xml,<svg contentScriptType="text/ecmascript" height="2048" viewBox="0.0 0 1792.0 2048" width="1792" xmlns="http://www.w3.org/2000/svg"><path d="M384 672v576c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5c-9.3 0-17-3-23-9L41 983c-6-6-9-13.7-9-23s3-17 9-23l288-288c6-6 13.7-9 23-9 8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5zm1408 768v192c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5H32c-8.7 0-16.2-3.2-22.5-9.5S0 1640.7 0 1632v-192c0-8.7 3.2-16.2 9.5-22.5s13.8-9.5 22.5-9.5h1728c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5zm0-384v192c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5H672c-8.7 0-16.2-3.2-22.5-9.5s-9.5-13.8-9.5-22.5v-192c0-8.7 3.2-16.2 9.5-22.5s13.8-9.5 22.5-9.5h1088c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5zm0-384v192c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5H672c-8.7 0-16.2-3.2-22.5-9.5S640 872.7 640 864V672c0-8.7 3.2-16.2 9.5-22.5s13.8-9.5 22.5-9.5h1088c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5zm0-384v192c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5H32c-8.7 0-16.2-3.2-22.5-9.5S0 488.7 0 480V288c0-8.7 3.2-16.2 9.5-22.5S23.3 256 32 256h1728c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5z"/></svg>'); }
trix-toolbar .button_group button.block-level.increase::before {
  background-image: url('data:image/svg+xml,<svg contentScriptType="text/ecmascript" height="2048" viewBox="0.0 0 1792.0 2048" width="1792" xmlns="http://www.w3.org/2000/svg"><path d="M352 960c0 9.3-3 17-9 23L55 1271c-6 6-13.7 9-23 9-8.7 0-16.2-3.2-22.5-9.5S0 1256.7 0 1248V672c0-8.7 3.2-16.2 9.5-22.5S23.3 640 32 640c9.3 0 17 3 23 9l288 288c6 6 9 13.7 9 23zm1440 480v192c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5H32c-8.7 0-16.2-3.2-22.5-9.5S0 1640.7 0 1632v-192c0-8.7 3.2-16.2 9.5-22.5s13.8-9.5 22.5-9.5h1728c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5zm0-384v192c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5H672c-8.7 0-16.2-3.2-22.5-9.5s-9.5-13.8-9.5-22.5v-192c0-8.7 3.2-16.2 9.5-22.5s13.8-9.5 22.5-9.5h1088c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5zm0-384v192c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5H672c-8.7 0-16.2-3.2-22.5-9.5S640 872.7 640 864V672c0-8.7 3.2-16.2 9.5-22.5s13.8-9.5 22.5-9.5h1088c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5zm0-384v192c0 8.7-3.2 16.2-9.5 22.5s-13.8 9.5-22.5 9.5H32c-8.7 0-16.2-3.2-22.5-9.5S0 488.7 0 480V288c0-8.7 3.2-16.2 9.5-22.5S23.3 256 32 256h1728c8.7 0 16.2 3.2 22.5 9.5s9.5 13.8 9.5 22.5z"/></svg>'); }
trix-toolbar .button_group button.undo::before {
  background-image: url('data:image/svg+xml,<svg contentScriptType="text/ecmascript" height="2048" viewBox="0.0 0 1792.0 2048" width="1792" xmlns="http://www.w3.org/2000/svg"><path d="M1792 1248c0 110.7-42.3 261-127 451a2855 2855 0 0 1-24 54c-4 8.7-8.3 16-13 22-8 11.3-17.3 17-28 17-10 0-17.8-3.3-23.5-10s-8.5-15-8.5-25c0-6 .8-14.8 2.5-26.5s2.5-19.5 2.5-23.5c3.3-45.3 5-86.3 5-123 0-67.3-5.8-127.7-17.5-181s-27.8-99.5-48.5-138.5-47.3-72.7-80-101c-32.7-28.3-67.8-51.5-105.5-69.5s-82-32.2-133-42.5-102.3-17.5-154-21.5-110.2-6-175.5-6H640v256c0 17.3-6.3 32.3-19 45s-27.7 19-45 19-32.3-6.3-45-19L19 813C6.3 800.3 0 785.3 0 768s6.3-32.3 19-45l512-512c12.7-12.7 27.7-19 45-19s32.3 6.3 45 19 19 27.7 19 45v256h224c475.3 0 767 134.3 875 403 35.3 89.3 53 200.3 53 333z"/></svg>'); }
trix-toolbar .button_group button.redo::before {
  background-image: url('data:image/svg+xml,<svg contentScriptType="text/ecmascript" height="2048" viewBox="0.0 0 1792.0 2048" width="1792" xmlns="http://www.w3.org/2000/svg"><path d="M1792 768c0 17.3-6.3 32.3-19 45l-512 512c-12.7 12.7-27.7 19-45 19s-32.3-6.3-45-19-19-27.7-19-45v-256H928c-65.3 0-123.8 2-175.5 6s-103 11.2-154 21.5-95.3 24.5-133 42.5-72.8 41.2-105.5 69.5c-32.7 28.3-59.3 62-80 101s-36.8 85.2-48.5 138.5-17.5 113.7-17.5 181c0 36.7 1.7 77.7 5 123 0 4 .8 11.8 2.5 23.5s2.5 20.5 2.5 26.5c0 10-2.8 18.3-8.5 25s-13.5 10-23.5 10c-10.7 0-20-5.7-28-17-4.7-6-9-13.3-13-22a2131.3 2131.3 0 0 1-24-54C42.3 1509 0 1358.7 0 1248c0-132.7 17.7-243.7 53-333 108-268.7 399.7-403 875-403h224V256c0-17.3 6.3-32.3 19-45s27.7-19 45-19 32.3 6.3 45 19l512 512a61.5 61.5 0 0 1 19 45z"/></svg>'); }
@charset "UTF-8";
trix-editor [data-trix-mutable=true] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  trix-editor [data-trix-mutable=true] img {
    box-shadow: 0 0 0 2px highlight; }
trix-editor .attachment .remove {
  display: block;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  line-height: 22px;
  font-size: 0;
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); }
  trix-editor .attachment .remove:after {
    content: '\D7';
    font-size: 18px;
    font-weight: bold;
    opacity: 0.6; }
  trix-editor .attachment .remove:hover:after {
    opacity: 1; }
trix-editor .attachment .caption.caption-editing textarea {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none; }
@charset "UTF-8";
.trix-content blockquote {
  margin: 0 0 0 5px;
  padding: 0 0 0 10px;
  border-left: 5px solid #ccc; }
.trix-content pre {
  font-family: monospace;
  font-size: 12px;
  margin: 0;
  padding: 10px;
  white-space: pre-wrap;
  background-color: #eee; }
.trix-content ul, .trix-content ol, .trix-content li {
  margin: 0;
  padding: 0; }
  .trix-content ul li, .trix-content ol li, .trix-content li li {
    margin-left: 20px; }
.trix-content img {
  max-width: 100%;
  height: auto; }
.trix-content a[data-trix-attachment] {
  color: inherit;
  text-decoration: none; }
  .trix-content a[data-trix-attachment]:hover, .trix-content a[data-trix-attachment]:visited:hover {
    color: inherit; }
.trix-content .attachment {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 13px; }
  .trix-content .attachment.attachment-file {
    color: #333;
    line-height: 30px;
    padding: 0 16px;
    border: 1px solid #bbb;
    border-radius: 5px; }
  .trix-content .attachment .caption {
    display: block;
    margin: 4px auto 0 auto;
    padding: 0;
    text-align: center; }
    .trix-content .attachment .caption .size:before {
      content: ' \B7   '; }

.ef_editor {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 20px;
  padding-left: 60px;
  font-size: 17px;
  line-height: 1.45;
  color: #333;
}
.ef_block-controls-control,
.ef_block--creating .ef_block-types-type {
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ef_block {
  position: relative;
  padding-right: 165px;
}
.ef_block-content {
  box-sizing: border-box;
  min-height: 40px;
  border-radius: 2px;
  font-size: 16px;
  line-height: 22px;
}
.ef_block-controls {
  position: absolute;
  top: 0;
  right: 0;
  width: 165px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ef_block-controls-cell {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 10px;
  font-weight: 900;
}
.ef_block-controls-control {
  background-color: #eee;
}
.ef_block-controls-control:hover {
  color: #fff;
}
.ef_block--creating .ef_block-content {
  background-color: #64dd17;
}
.ef_block--creating .ef_block-types {
  padding: 5px;
  border-radius: 2px;
  text-align: center;
}
.ef_block--creating .ef_block-types-type {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 40px;
  padding: 5px;
  font-size: 12px;
  font-weight: 900;
  line-height: 40px/2;
  color: #fff;
}
.ef_block--creating .ef_block-types-type:hover {
  background-color: rgba(0,0,0,0.1);
}
.ef_block--creating .ef_block-types-type:active {
  background-color: rgba(0,0,0,0.2);
}
.ef_block--creating .ef_block-controls-control {
  color: #fff;
  background-color: #a1887f;
}
.ef_block--creating .ef_block-controls-control:hover {
  background-color: #876a60;
}
.ef_block--creating .ef_block-controls-control:active {
  background-color: #6d4c41;
}
.ef_block--editing .ef_block-controls {
  visibility: hidden;
}
.ef_block--editing .ef_block-controls-control--move:hover {
  background-color: #419eed;
}
.ef_block--editing .ef_block-controls-control--move:active {
  background-color: #1e88e5;
}
.ef_block--editing .ef_block-controls-control--options:hover {
  background-color: #bc6dca;
}
.ef_block--editing .ef_block-controls-control--options:active {
  background-color: #ab47bc;
}
.ef_block--editing .ef_block-controls-control--remove:hover {
  background-color: #e55654;
}
.ef_block--editing .ef_block-controls-control--remove:active {
  background-color: #e53935;
}
.ef_block--editing:hover .ef_block-controls {
  visibility: visible;
}
.ef_block--editing:hover .ef_block-content {
  background-color: #f5f5f5;
}
.ef_block--moving .ef_block-content {
  background-color: #bbdefb;
}
.ef_block--moving .ef_block-controls-control {
  color: #fff;
  background-color: #a1887f;
}
.ef_block--moving .ef_block-controls-control:hover {
  background-color: #876a60;
}
.ef_block--moving .ef_block-controls-control:active {
  background-color: #6d4c41;
}
.ef_block--swapping .ef_block-controls-control--swap:hover {
  background-color: #419eed;
}
.ef_block--swapping .ef_block-controls-control--swap:active {
  background-color: #1e88e5;
}
.ef_block--swapping .ef_block-controls-control--move:hover {
  background-color: #419eed;
}
.ef_block--swapping .ef_block-controls-control--move:active {
  background-color: #1e88e5;
}
.ef_block--swapping:hover .ef_block-content {
  background-color: #f5f5f5;
}
.ef_block--removing .ef_block-content {
  background-color: #ffcdd2;
}
.ef_block--removing .ef_block-controls-control {
  color: #fff;
}
.ef_block--removing .ef_block-controls-control--yes {
  background-color: #ef5350;
}
.ef_block--removing .ef_block-controls-control--yes:hover {
  background-color: #da3d3c;
}
.ef_block--removing .ef_block-controls-control--yes:active {
  background-color: #c62828;
}
.ef_block--removing .ef_block-controls-control--no {
  background-color: #a1887f;
}
.ef_block--removing .ef_block-controls-control--no:hover {
  background-color: #876a60;
}
.ef_block--removing .ef_block-controls-control--no:active {
  background-color: #6d4c41;
}
.ef_block--focus {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ef_block--focus:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  opacity: 0.5;
  z-index: 1000;
}
.ef_block--focus:hover .ef_block-content {
  background-color: #fff;
}
.ef_block--focus:hover .ef_block-controls {
  visibility: hidden;
}
.ef_options-actions-action {
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ef_options {
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  padding: 100px;
}
.ef_options-popup {
  position: relative;
  max-width: 190px;
  margin: 0px auto;
  border-radius: 2px;
  background-color: #fff;
  padding: 40px;
}
.ef_options-close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.ef_options-options {
  margin-top: 20px;
}
.ef_options-options-option + .ef_options-options-option {
  margin-top: 10px;
}
.ef_options-options-option-label {
  font-size: 14px;
  color: #4d4d4d;
}
.ef_options-options-option-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 20px;
  background-color: #fff;
}
.ef_options-actions {
  margin-top: 20px;
}
.ef_options-actions-action {
  display: inline-block;
  vertical-align: top;
  width: 70px;
  padding: 10px;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}
.ef_options-actions-action + .ef_options-actions-action {
  margin-left: 10px;
}
.ef_options-actions-action--apply {
  background-color: #8bc34a;
}
.ef_options-actions-action--apply:hover {
  background-color: #79b141;
}
.ef_options-actions-action--apply:active {
  background-color: #689f38;
}
.ef_options-actions-action--cancel {
  background-color: #f44336;
}
.ef_options-actions-action--cancel:hover {
  background-color: #e33932;
}
.ef_options-actions-action--cancel:active {
  background-color: #d32f2f;
}
.ef_icon {
  font-size: 1.2em;
}
.ef_icon:before {
  vertical-align: middle !important;
}
@font-face {
	font-family: "editor-font";
	src: url(fonts/editor-font.eot?#iefix) format("embedded-opentype"),
url(fonts/editor-font.woff) format("woff"),
url(fonts/editor-font.ttf) format("truetype"),
url(fonts/editor-font.svg#editor-font) format("svg");
}

.editor-font {
	line-height: 1;
}

.editor-font:before {
	font-family: editor-font !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.editor-font-arrow-right:before {
	content: "\F101";
}
.editor-font-arrows:before {
	content: "\F102";
}
.editor-font-caret-left:before {
	content: "\F103";
}
.editor-font-caret-right:before {
	content: "\F104";
}
.editor-font-check:before {
	content: "\F105";
}
.editor-font-close:before {
	content: "\F106";
}
.editor-font-gear:before {
	content: "\F107";
}
.editor-font-hand-stop-o:before {
	content: "\F108";
}
.editor-font-header:before {
	content: "\F109";
}
.editor-font-html5:before {
	content: "\F10A";
}
.editor-font-image:before {
	content: "\F10B";
}
.editor-font-list-ul:before {
	content: "\F10C";
}
.editor-font-minus:before {
	content: "\F10D";
}
.editor-font-pencil:before {
	content: "\F10E";
}
.editor-font-plus:before {
	content: "\F10F";
}
.editor-font-quote-right:before {
	content: "\F110";
}
.editor-font-refresh:before {
	content: "\F111";
}
.editor-font-th-list:before {
	content: "\F112";
}
.editor-font-thumbs-up:before {
	content: "\F113";
}
.editor-font-trash:before {
	content: "\F114";
}
.editor-font-youtube-play:before {
	content: "\F115";
}
.ef_trix-toolbar {
  display: none;
  position: absolute;
  top: -27px;
  left: -50px;
  right: 0;
  line-height: 0;
  background-color: #fff;
}
.ef_trix-toolbar > .button_groups {
  padding-left: 50px;
  height: 27px;
  overflow: hidden;
}
.ef_trix-toolbar > .button_groups > .button_group {
  border: none;
  border-radius: 0;
}
.ef_trix-toolbar > .button_groups > .button_group > button {
  height: 27px;
  border: none;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 2px;
  margin-right: 2px;
  background-color: #eee;
}
.ef_trix-toolbar > .button_groups > .button_group > button:hover {
  background-color: #d5d5d5;
}
.ef_trix-toolbar > .button_groups > .button_group > button:active {
  background-color: #bdbdbd;
}
.ef_trix-toolbar > .button_groups > .button_group > button[disabled] {
  background-color: #eee;
}
.ef_trix-toolbar > .button_groups > .typograf_tools > .auto.-off::before {
  opacity: 0.125;
}
.ef_trix-toolbar > .button_groups > .typograf_tools > .auto::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMzIyIDU5N2wxNi0xNzVINDU0bDQ3IDUzNGg2MTJsLTIyIDIyOC0xOTcgNTMtMTk2LTUzLTEzLTE0MEg1MTBsMjIgMjc4IDM2MiAxMDBoNHYtMWwzNTktOTkgNTAtNTQ0SDY2M2wtMTUtMTgxaDY3NHpNMTkyIDEyOGgxNDA4bC0xMjggMTQzOC01NzggMTYyLTU3NC0xNjJ6Ii8+PC9zdmc+);
}
.ef_trix-toolbar > .button_groups > .typograf_tools > .apply::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMzIyIDU5N2wxNi0xNzVINDU0bDQ3IDUzNGg2MTJsLTIyIDIyOC0xOTcgNTMtMTk2LTUzLTEzLTE0MEg1MTBsMjIgMjc4IDM2MiAxMDBoNHYtMWwzNTktOTkgNTAtNTQ0SDY2M2wtMTUtMTgxaDY3NHpNMTkyIDEyOGgxNDA4bC0xMjggMTQzOC01NzggMTYyLTU3NC0xNjJ6Ii8+PC9zdmc+);
}
.ef_trix-toolbar > .dialogs .button_group {
  margin: 0;
}
.ef_trix-toolbar > .dialogs > .dialog {
  left: 50px;
  border: none;
  border-radius: 0px 0px 2px 2px;
  line-height: 0;
  background-color: #eee;
  box-shadow: 0px 2px 4px rgba(51,51,51,0.5);
}
.ef_trix-editor {
  border: none;
  padding: 9px;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  min-height: 22px;
}
.ef_trix--focus .ef_trix-toolbar {
  display: block;
}
.ef_trix--focus .ef_trix-editor {
  padding: 4px;
  border-width: 5px;
  border-color: #eee;
  border-radius: 0px 2px 2px 2px;
  background-color: #fff;
}
.ef_video_input--showing .ef_video_input-clear {
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ef_video_input--showing .ef_video_input-wrapper {
  position: relative;
  padding-top: 55%;
}
.ef_video_input--showing .ef_video_input-iframe {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 2px;
  outline: 0;
}
.ef_video_input--showing .ef_video_input-clear {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  background-color: #eee;
}
.ef_video_input--showing .ef_video_input-clear:hover {
  background-color: #e55654;
  color: #fff;
}
.ef_video_input--showing .ef_video_input-clear:active {
  background-color: #e53935;
}
.ef_video_input--showing:hover .ef_video_input-clear {
  display: block;
}
.ef_field {
  padding: 5px;
}
.ef_field-wrapper .ef_field-label,
.ef_field-wrapper .ef_field-input {
  padding: 4px;
}
.ef_field-wrapper .ef_field-label {
  display: inline-block;
  font-weight: bold;
  color: #9e9e9e;
}
.ef_field-wrapper .ef_field-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: none;
  border-radius: 2px;
  outline: none;
}
.ef_field-wrapper textarea.ef_field-input {
  resize: vertical;
}
.ef_field--focused {
  background-color: #eee;
}
.ef_field--focused .ef_field-wrapper .ef_field-label {
  color: inherit;
}
.ef_image_input--showing .ef_image_input-clear {
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ef_image_input--selecting .ef_filer-dropzone,
.ef_image_input--loading {
  box-sizing: border-box;
  height: 100px;
  border: 2px dashed #9e9e9e;
  line-height: 96px;
  font-weight: bold;
  text-align: center;
  color: #9e9e9e;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ef_image_input--selecting .ef_filer-dropzone {
  cursor: pointer;
}
.ef_image_input--selecting .ef_filer-dropzone:hover {
  color: inherit;
}
.ef_image_input--selecting .ef_filer-dropzone-drop {
  display: inline-block;
  line-height: 1.45;
  vertical-align: middle;
}
.ef_image_input--loading {
  cursor: progress;
}
.ef_image_input--showing {
  position: relative;
  min-height: 20px;
}
.ef_image_input--showing .ef_image_input-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.ef_image_input--showing .ef_image_input-clear {
  display: none;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  background-color: #eee;
}
.ef_image_input--showing .ef_image_input-clear:hover {
  background-color: #e55654;
  color: #fff;
}
.ef_image_input--showing .ef_image_input-clear:active {
  background-color: #e53935;
}
.ef_image_input--showing:hover .ef_image_input-clear {
  display: block;
}
.ef_images_input {
  position: relative;
}
.ef_images_input .ef_images_input-loading {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px 9px;
  border-radius: 2px;
  font-weight: bold;
  background-color: #eee;
}
.ef_images_input--selecting .ef_images_input-input .ef_filer-dropzone {
  box-sizing: border-box;
  height: 100px;
  border: 2px dashed #9e9e9e;
  line-height: 96px;
  font-weight: bold;
  text-align: center;
  color: #9e9e9e;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.ef_images_input--selecting .ef_images_input-input .ef_filer-dropzone:hover {
  color: inherit;
}
.ef_images_input--selecting .ef_images_input-input .ef_filer-dropzone-drop {
  display: inline-block;
  line-height: 1.45;
  vertical-align: middle;
}
.ef_images_input--showing .ef_images_input-image,
.ef_images_input--showing .ef_images_input-input {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 100px;
  width: 100px;
  border-radius: 2px;
  background-size: cover;
}
.ef_images_input--showing .ef_images_input-image {
  position: relative;
}
.ef_images_input--showing .ef_images_input-image-action {
  position: absolute;
  z-index: 1;
  display: none;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.ef_images_input--showing .ef_images_input-image-action--remove {
  top: -4px;
  right: -4px;
  background-color: #ef5350;
}
.ef_images_input--showing .ef_images_input-image-action--remove:hover {
  background-color: #da3d3c;
}
.ef_images_input--showing .ef_images_input-image-action--remove:active {
  background-color: #c62828;
}
.ef_images_input--showing .ef_images_input-image-action--move {
  bottom: -4px;
  background-color: #64b5f6;
}
.ef_images_input--showing .ef_images_input-image-action--move:hover {
  background-color: #419eed;
}
.ef_images_input--showing .ef_images_input-image-action--move:active {
  background-color: #1e88e5;
}
.ef_images_input--showing .ef_images_input-image-action--move--left {
  left: -4px;
}
.ef_images_input--showing .ef_images_input-image-action--move--right {
  right: -4px;
}
.ef_images_input--showing .ef_images_input-image:hover .ef_images_input-image-action {
  display: block;
}
.ef_images_input--showing .ef_images_input-input {
  border: 2px solid #9e9e9e;
}
.ef_images_input--showing .ef_images_input-input .ef_filer-dropzone {
  line-height: 96px;
  font-weight: bold;
  text-align: center;
  color: #9e9e9e;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.ef_images_input--showing .ef_images_input-input .ef_filer-dropzone:hover {
  color: inherit;
}
.ef_images_input--showing .ef_images_input-input .ef_filer-dropzone:before {
  content: '+';
}
.ef_images_input--showing .ef_images_input-input .ef_filer-dropzone-drop {
  display: none;
}
.ef_fallback {
  padding: 9px;
  border-radius: 2px;
  background-color: #e57373;
}
.ef_fallback-message {
  color: #fff;
  cursor: pointer;
}
.ef_fallback-data {
  display: none;
  margin-top: 9px;
}
.ef_fallback--open .ef_fallback-data {
  display: block;
}
.ef_separation_line-action {
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ef_separation_line {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ef_separation_line-line {
  margin-left: -10px;
  border-bottom: 2px dashed #eee;
}
.ef_separation_line-action {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: -50px;
  width: 40px;
  height: 22px;
  font-size: 10px;
  font-weight: 900;
  line-height: 22px;
  background-color: #eee;
  color: transparent;
}
.ef_separation_line-action:hover {
  color: #fff;
}
.ef_separation_line--create .ef_separation_line-action:hover {
  background-color: #64dd17;
}
.ef_separation_line--create .ef_separation_line-action:hover + .ef_separation_line-line {
  border-bottom-style: solid;
  border-color: #64dd17;
}
.ef_separation_line--create .ef_separation_line-action:active {
  background-color: #689f38;
}
.ef_separation_line--create .ef_separation_line-action:active + .ef_separation_line-line {
  border-bottom-style: solid;
  border-color: #689f38;
}
.ef_separation_line--move .ef_separation_line-action {
  background-color: #64b5f6;
}
.ef_separation_line--move .ef_separation_line-action:hover {
  background-color: #419eed;
}
.ef_separation_line--move .ef_separation_line-action:active {
  background-color: #1e88e5;
}
.ef_separation_line--cancel .ef_separation_line-action,
.ef_separation_line--finish .ef_separation_line-action {
  background-color: #a1887f;
}
.ef_separation_line--cancel .ef_separation_line-action:hover,
.ef_separation_line--finish .ef_separation_line-action:hover {
  background-color: #876a60;
}
.ef_separation_line--cancel .ef_separation_line-action:active,
.ef_separation_line--finish .ef_separation_line-action:active {
  background-color: #6d4c41;
}
.ef_separation_line--move .ef_separation_line-action,
.ef_separation_line--finish .ef_separation_line-action {
  left: 0;
  right: 165px;
  width: auto;
}
.ef_separation_line--move .ef_separation_line-line,
.ef_separation_line--finish .ef_separation_line-line {
  visibility: hidden;
}

/*# sourceMappingURL=editor.css.map*/