
/* Правки стилей редактора */

.ef_block-content {
  padding: 0;
  min-height: 1em;
  font-size: inherit;
  line-height: 1.4;
}
.ef_trix > .ef_trix-editor {
  margin: 0;
  padding: 0;
}
.ef_trix--focus > .ef_trix-editor {
  border: 0;
}
.ef_trix > .ef_trix-toolbar {
  left: 0;
}
.ef_trix > .ef_trix-toolbar > .button_groups {
  padding-left: 0;
}
.ef_heading_block.ef_trix--focus > .ef_trix-editor {
  padding: 0;
  border: none;
  /*background: #eee;*/
}
.ef_list_block > .ef_trix-editor > ul {
  margin: 0;
  padding: 0;
}
.ef_list_block > .ef_trix-editor > ul > li + li {
  margin: 0;
  padding: 0;
}
.ef_quote_block:before {
  content: none;
  border: none;
}
.ef_quote_block-quote > .ef_trix-editor {
  font-style: normal;
}
.ef_list_block > .ef_trix-editor > ul > li:before {
  margin-right: 0.3em;
  color: inherit;
}
.ef_list_block > .ef_trix-editor {
  font-size: inherit;
}
.ef_separation_line {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}
.ef_separation_line-line {
  margin: -1px 0 -1px -10px;
}
.ef_editor {
  padding: 0;
  margin: 0 185px 0 70px;
  font-size: inherit;
  line-height: inherit;
}



/* Оформление редактора */

.ef_separation_line > .ef_separation_line-action {
  top: -11px;
}
.ef_block > .ef_block-controls {
  right: -165px;
}
.ef_block {
  padding-right: 0;
}

.ef_block--creating .ef_block-content {
  background: #999;
}
.ef_separation_line--create .ef_separation_line-action:hover {
  background-color: #999;
}
.ef_separation_line--create .ef_separation_line-action:hover + .ef_separation_line-line {
  border-bottom-style: solid;
  border-color: #999;
}
.ef_separation_line--move .ef_separation_line-action,
.ef_separation_line--finish .ef_separation_line-action {
  right: 0;
  z-index: 10;
}


.dictator-container {
  width: 885px;
  margin: 20px auto;
}


/* Синхронная стилизация редактора и сайта, отдельный файл */

.site,
.ef_editor {
  width: 770px;
}
.site {
  margin: 0 185px 0 70px; /* для удобства отладки */
}

.site .content-block,
.ef_block {
  margin: 0.5em 0;
  position: relative;
  /*background: #f0f0ff;*/
}

.site .content-block p,
.ef_text_block .ef_trix-editor {
  font-family: serif;
}

.ef_separation_line {
  margin-top: -0.25em; /* половина отступа между блоками */
}

.site h1,
.ef_heading_block .ef_trix-editor {
  color: #58f;
  margin: 0.5em 0 0 0;
  padding: 0;
  font-size: 2em;
}

.site .quote-block:before,
.ef_quote_block:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -6px;
    border-left: 2px solid #f00;
}

