{% load thumbnail %}
<div class="gallery" align="center">
  {% if header or text %}
    <div class="footnote">
      {% if header %}
        <span class="footnoteHeader">{{ header|safe|linebreaksbr }}</span>
      {% endif %}
      {% if text %}
        <span class="footnoteText">{{ text|safe|linebreaksbr }}</span>
      {% endif %}
    </div>
  {% endif %}
  {% with first_image=gallery|first %}
    {% thumbnail first_image.file.path 'x400' crop='center' as im %}
    <div class="galleryImageWrap">
      <img src="{{ im.url }}" class="galleryImage" alt="Описание">
    </div>
    {% endthumbnail %}
  {% endwith %}
  <div class="galleryCrawl">
    <ul class="galleryThumbs u-listReset">
      {% spaceless %}
        {% for image in gallery %}
        <li class="galleryThumbHolder">
          {% thumbnail image.file.path 'x400' crop='center' as im %}
            {% thumbnail image.file.path '86x56' crop='center' as thumb %}
              <a href="{{ im.url }}" class="galleryLink {% if forloop.first %}galleryLink-is-active{% endif %}">
                  <img src="{{ thumb.url }}" class="galleryThumb" width="86" height="56" alt="Описание">
              </a>
            {% endthumbnail %}
          {% endthumbnail %}
        </li>
        {% endfor %}
      {% endspaceless %}
    </ul>
  </div>
</div>
