{% load thumbnail %}
<div class="content-block image-block">
  {% thumbnail file.path '400' crop='center' as im %}

    <p> {{ file.size }} Байт</p>
    <p> file.url = {{ file.url }}</p>
    <p> file.path = {{ file.path }}</p>
    <p> small = {{ HTTP_HOST }}{{ im.url }}</p>
    <p><img src="{{ im.url }}"></p>
  {% endthumbnail %}
</div>
